@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 64px; /* Высота header */
  }
  
  /* Этот метод лучше работает на мобильных устройствах */
  #about, #equipment, #contact {
    scroll-margin-top: 64px;
  }
  
  /* Убедимся что секции имеют достаточное расстояние между собой */
  section {
    position: relative;
  }