@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 64px; /* Высота header */
  }
  
  @media (max-width: 768px) {
    html {
      scroll-padding-top: 56px; /* Меньшая высота header для мобильных */
    }
  }
  
  #about, #equipment, #contact {
    scroll-margin-top: 64px;
  }
  
  @media (max-width: 768px) {
    #about, #equipment, #contact {
      scroll-margin-top: 56px;
    }
  }